<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
        <ion-icon name="funnel" style="float: right; margin: -17px 15px 0 0;" ></ion-icon>
        <!--<ion-icon name="ios-funnel-outline" ios="ios-funnel" style="float: right; margin: -17px 15px 0 0;" md="md-funnel"></ion-icon>-->
  </ion-navbar>
</ion-header>

<ion-content>
    
    <ng4-loading-spinner [threshold]="2000" [zIndex]="9999"></ng4-loading-spinner>

<!--    <p>Top Headlines</p>
    <ion-list>
        <ion-item *ngFor="let data of top_headlines">
            <img (click)="goTo(data.url)" height="100" width="100" [src]="data.urlToImage" />
            <a (click)="goTo(data.url)">{{data.title}}</a>
            <p>{{data.description}}</p>
            <span>{{data.publishedAt | date:'yyyy-MM-dd HH:mm:ss'}}</span>
        </ion-item>
    </ion-list>
    <a>View All</a>-->

    <ion-list>
        <a (click)="goTo(data.url)">
          <ion-item *ngFor="let data of everything">
            <ion-thumbnail item-start>
            <img (click)="goTo(data.url)" height="100" width="100" [src]="data.urlToImage" />
             </ion-thumbnail>
            
            <h2>{{data.title}}</h2>
            <p>{{data.description}}</p>
            <span>{{data.publishedAt | date:'yyyy-MM-dd HH:mm:ss'}}</span>
        </ion-item>
      </a>
    </ion-list>
    
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
